Flask==2.3.2
Flask-RESTx==1.1.0
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-Limiter==2.7.0
PyJWT==2.7.0
Werkzeug==2.3.6
SQLAlchemy==2.0.19
psycopg2-binary==2.9.6
python-dotenv==1.0.0
gunicorn==20.1.0
matplotlib==3.7.2
zxcvbn==4.4.28
numpy<2.0.0
pandas==2.1.4
reportlab==4.0.0
sqlalchemy_utils==0.39.1
